The database downloaded is in SQLite. I am going to make a connection with sqlite database and read in the file. Then ill make a dataframe and process data to see nulls and duplicates. Then I will drop unwanted columns and add another column with the career categories names in the new database. 

The career categories I have identified are:
1. Techlonogy
2. Sports
3. Finance
4. Fittness
5. Music
6. Culnery
7. Fashion

In [3]:
import sqlite3 # importing library that will open and connect SQLite databasel
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
# building a SQL connection
sql_conn = sqlite3.connect('C:/Users/madih/Downloads/database.sqlite/database.sqlite') 
# use frontslash instead of backslash to read the file correctly

# reading the sqlite database as a pandas dataframe in batches
reddit = pd.read_sql('SELECT * FROM may2015 LIMIT 160000;', sql_conn)

In [ ]:
# creating a connection
for i in range(1,10):
    sql_conn = sqlite3.connect('C:/Users/madih/Downloads/database.sqlite/database.sqlite') 
    # use frontslash instead of backslash to read the file correctly

    # reading the sqlite database as a pandas dataframe in batches
    reddit_1 = pd.read_sql('SELECT * FROM may2015 LIMIT 160000;', sql_conn)
    reddit_2 = pd.read_sql('SELECT * FROM may2015 LIMIT 160000, 160000;', sql_conn)
    reddit_3 = pd.read_sql('SELECT * FROM may2015 LIMIT 320000, 160000;', sql_conn)
    reddit_4 = pd.read_sql('SELECT * FROM may2015 LIMIT 480000, 160000;', sql_conn)
    reddit_5 = pd.read_sql('SELECT * FROM may2015 LIMIT 540000, 160000;', sql_conn)
    reddit_6 = pd.read_sql('SELECT * FROM may2015 LIMIT 700000, 160000;', sql_conn)
    reddit_7 = pd.read_sql('SELECT * FROM may2015 LIMIT 860000, 160000;', sql_conn)
    reddit_8 = pd.read_sql('SELECT * FROM may2015 LIMIT 1120000, 160000;', sql_conn)
    reddit_9 = pd.read_sql('SELECT * FROM may2015 LIMIT 1280000, 160000;', sql_conn)
    reddit_10 = pd.read_sql('SELECT * FROM may2015 LIMIT 1440000, 160000;', sql_conn)

In [ ]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
reddit.head()

,created_utc,ups,subreddit_id,link_id,name,score_hidden,author_flair_css_class,author_flair_text,subreddit,id,...,downs,archived,author,score,retrieved_on,body,distinguished,edited,controversiality,parent_id
0,1430438400,4,t5_378oi,t3_34di91,t1_cqug90g,0,None,None,soccer_jp,cqug90g,...,0,0,rx109,4,1432703079,くそ\n読みたいが買ったら負けな気がする\n図書館に出ねーかな,None,0,0,t3_34di91
1,1430438400,4,t5_2qo4s,t3_34g8mx,t1_cqug90h,0,Heat,Heat,nba,cqug90h,...,0,0,WyaOfWade,4,1432703079,gg this one's over. off to watch the NFL draft...,None,0,0,t3_34g8mx
2,1430438400,0,t5_2cneq,t3_34f7mc,t1_cqug90i,0,None,None,politics,cqug90i,...,0,0,Wicked_Truth,0,1432703079,Are you really implying we return to those tim...,None,0,0,t1_cqufim0
3,1430438400,3,t5_2qh1i,t3_34f9rh,t1_cqug90j,0,None,None,AskReddit,cqug90j,...,0,0,jesse9o3,3,1432703079,No one has a European accent either because i...,None,0,0,t1_cqug2sr
4,1430438400,3,t5_2qh1i,t3_34fvry,t1_cqug90k,0,None,None,AskReddit,cqug90k,...,0,0,beltfedshooter,3,1432703079,"That the kid ""..reminds me of Kevin."" so sad...",None,0,0,t3_34fvry

In [4]:
print(f'Number of duplicated rows is: {reddit.duplicated().sum()}', '\n')
print(reddit.T.duplicated())

Number of duplicated rows is: 0

created_utc               False
ups                       False
subreddit_id              False
link_id                   False
name                      False
score_hidden              False
author_flair_css_class    False
author_flair_text         False
subreddit                 False
id                        False
removal_reason            False
gilded                    False
downs                     False
archived                   True
author                    False
score                      True
retrieved_on              False
body                      False
distinguished             False
edited                    False
controversiality          False
parent_id                 False
dtype: bool

##### Data cleaning to be run ahead

##### Columsn to be dropped
1. score_hidden 
2. author_flair_css_class
3. author_flair_text 
4. archived 
5. score 

These columns will not add value in the NLP, therefore they can be dropped. The archived and score are duplicate columns as seen above.

In [5]:
# dropping columns identifeid above
reddit.drop(columns=['score_hidden', 'author_flair_css_class', 'author_flair_text', 'archived', 'score'], axis=1, inplace=True)

In [6]:
print(f"The number of rows with Deleted comments are: {len((reddit[reddit['body'] == '[deleted]']))}")

The number of rows with Deleted comments are: 9261

In [7]:
# dropping all rows with [deleted] comments
reddit.drop(reddit[reddit['body'] == '[deleted]'].index, axis=0, inplace=True)

In [8]:
# checking if any deleted comments still exist
reddit[reddit['body'] == '[deleted]']

Empty DataFrame
Columns: [created_utc, ups, subreddit_id, link_id, name, subreddit, id, removal_reason, gilded, downs, author, retrieved_on, body, distinguished, edited, controversiality, parent_id]
Index: []

In [9]:
reddit.isnull().sum()

created_utc              0
ups                      0
subreddit_id             0
link_id                  0
name                     0
subreddit                0
id                       0
removal_reason      150739
gilded                   0
downs                    0
author                   0
retrieved_on             0
body                     0
distinguished       149777
edited                   0
controversiality         0
parent_id                0
dtype: int64

In [10]:
# The number of nulls in the removal_reason and distinguished are too many for teh columns to be of nay any value, removing these as well.
reddit.drop(columns=['removal_reason', 'distinguished'], inplace=True, axis=1)

Now we have identified the columns and rows to be removed from the data set. Therefore now ill load in more data and run the same codes to shrink the size of the data and use it.

In [13]:
# creating a connection
sql_conn = sqlite3.connect('C:/Users/madih/Downloads/database.sqlite/database.sqlite') 
# use frontslash instead of backslash to read the file correctly

# reading the sqlite database as a pandas dataframe in batches
reddit = pd.read_sql('SELECT * FROM may2015 LIMIT 160000, 4000000;', sql_conn)

In [26]:
reddit.shape

(3283736, 15)

In [27]:
# reading the sqlite database as a pandas dataframe in batches
reddit_1 = pd.read_sql('SELECT * FROM may2015 LIMIT 4160000, 4000000;', sql_conn)

reddit_1.shape

(4000000, 22)

In [28]:
reddit = pd.concat([reddit, reddit_1])

In [29]:
# dropping columns identifeid above
reddit.drop(columns=['score_hidden', 'author_flair_css_class', 'removal_reason', 'distinguished', 'author_flair_text', 'archived', 'score'], axis=1, inplace=True)

# dropping all rows with [deleted] comments
reddit.drop(reddit[reddit['body'] == '[deleted]'].index, axis=0, inplace=True)

In [30]:
reddit.shape

(6795270, 15)

## Coming to subreddits now

In [31]:
subreddit_list = reddit['subreddit'].unique()
print(f'Unique Subreddits in data are: {len(subreddit_list)}')

Unique Subreddits in data are: 24303

In [32]:
# Creating a new pandas dataframe 'subreddit'
# using value_counts() over subreddits in the reddits df to count distinct values in single column
# https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups/38309823
# using head to limit to top 200 subreddits

subreddit = pd.DataFrame(reddit.subreddit.value_counts())

# renaming the subreddit column to count to show the frequency of posting for the subreddit and hence the popularity
subreddit.rename(columns={'subreddit': 'count'}, inplace=True)

# code to show total number of unique values in the calumns: total number of subreddit in the data loaded for now
reddit.subreddit.nunique()

# adding a new column with "xxx" as proxy 
subreddit['y_career_category'] = 'xxx'
subreddit.head(2)

                  count y_career_category
AskReddit        259854               xxx
leagueoflegends  145383               xxx

In [33]:
subreddit[subreddit['count'] > 10000]

                  count y_career_category
AskReddit        259854               xxx
leagueoflegends  145383               xxx
nba               98420               xxx
nfl               94354               xxx
news              83751               xxx
...                 ...               ...
MLPLounge         10198               xxx
NASCAR            10139               xxx
LifeProTips       10075               xxx
childfree         10059               xxx
bravefrontier     10032               xxx

[113 rows x 2 columns]

In [34]:
# dropping all rows from random subreddits comments for subreddit topics that will not help in career identification
reddit.drop(reddit[(reddit['subreddit'] == 'AskReddit') |
                    (reddit['subreddit'] == 'funny') |
                    (reddit['subreddit'] == 'pics') | 
                    (reddit['subreddit'] == 'atheism') |
                    (reddit['subreddit'] == 'aww') |
                    (reddit['subreddit'] == 'fatpeoplehate') |
                    (reddit['subreddit'] == 'Showerthoughts') |
                    (reddit['subreddit'] == 'WTF')].index, axis=0, inplace=True)

In [35]:
reddit.shape

(5996535, 15)

In [38]:
reddit.to_csv('cleaned.csv')

In [138]:
# running the smae code again to get subreddit list that does not contain un-imp subreddits
subreddit = pd.DataFrame(reddit.subreddit.value_counts())

# renaming the subreddit column to count to show the frequency of posting for the subreddit and hence the popularity
subreddit.rename(columns={'subreddit': 'count'}, inplace=True)

# code to show total number of unique values in the calumns: total number of subreddit in the data loaded for now
reddit.subreddit.nunique()

# adding a new column with "xxx" as proxy 
subreddit['y_career_category'] = 'xxx'
subreddit.head(2)

                  count y_career_category
leagueoflegends  132818               xxx
nba               89358               xxx

In [139]:
subreddit.head(20)

                  count y_career_category
leagueoflegends  132818               xxx
nba               89358               xxx
nfl               83873               xxx
news              76245               xxx
DotA2             66729               xxx
pcmasterrace      60955               xxx
AdviceAnimals     57084               xxx
hockey            56966               xxx
movies            53997               xxx
soccer            51247               xxx
GlobalOffensive   44356               xxx
SquaredCircle     43683               xxx
DestinyTheGame    40957               xxx
gaming            40804               xxx
politics          31559               xxx
gifs              30433               xxx
Boxing            28247               xxx
relationships     27524               xxx
anime             27193               xxx
asoiaf            26310               xxx

In [44]:
# Cleaning further identifeid topics from 
reddit.drop(reddit[(reddit['subreddit'] == 'todayilearned') |
                   (reddit['subreddit'] == 'conspiracy') |
                   (reddit['subreddit'] == 'videos') |
                   (reddit['subreddit'] == 'worldnews') |
                   (reddit['subreddit'] == 'CasualConversation')].index, axis=0, inplace=True)

In [45]:
reddit.shape

(5553934, 15)

In [46]:
# It is an extremely time consuming process to remove the rows and clena the dataset. Therefore, i am saving the result of this into a csv in case something happens and my system crashes.
reddit.to_csv('cleaned.csv')

In [189]:
# running the smae code again to get subreddit list that does not contain un-imp subreddits
subreddit = pd.DataFrame(reddit.subreddit.value_counts())

# renaming the subreddit column to count to show the frequency of posting for the subreddit and hence the popularity
subreddit.rename(columns={'subreddit': 'count'}, inplace=True)

# code to show total number of unique values in the calumns: total number of subreddit in the data loaded for now
reddit.subreddit.nunique()

# adding a new column with "xxx" as proxy 
subreddit['y_career_category'] = 'xxx'
subreddit = subreddit[subreddit['count'] > 6700] 
subreddit.head(20)

                  count y_career_category
leagueoflegends  132818               xxx
nba               89358               xxx
nfl               83873               xxx
news              76245               xxx
DotA2             66729               xxx
pcmasterrace      60955               xxx
AdviceAnimals     57084               xxx
hockey            56966               xxx
movies            53997               xxx
soccer            51247               xxx
GlobalOffensive   44356               xxx
SquaredCircle     43683               xxx
DestinyTheGame    40957               xxx
gaming            40804               xxx
politics          31559               xxx
gifs              30433               xxx
Boxing            28247               xxx
relationships     27524               xxx
anime             27193               xxx
asoiaf            26310               xxx

In [190]:
subreddit.shape

(147, 2)

In [191]:
# displaying rows and creating a list of them
index = subreddit.index.values.tolist()
index[:5]

['leagueoflegends', 'nba', 'nfl', 'news', 'DotA2']

In [192]:
# Creating a list for the Y in the 
career_category = ['science_technology', 'sports', 'games', 'politics', 'arts', 'xxx']
career_category[2]

'games'

In [193]:
# made to check the function defined to label each subreddit
# subreddit_small = subreddit.loc[10:]

In [196]:
# creating a function that will help in labeling each subreddit to the Y colunmn (y_career_category)

def label_subreddit(df, index):
    '''
    The function requires two inputs:
    1. Data frame that has to be labelled with the subreddits as index of the df and y_career_category as the column which which will store the labels
    2. The index list (subreddits) to loop on and provide label for  
    
    
    Outputs:
    The pre-defined list, career_category, with  lables will be printed and user will provede what label to put for which subreddit. 'xxx' is the label of all unwanted categories 
    error_category list will be printed to give a list of all subreddits with an errorenous category selected
    the data frame iwth teh update labels will be printed
    '''
    
    global error_category
    error_category = []
    
    global career_category
    career_category = ['science_technology', 'sports', 'games', 'politics', 'fitness', 'xxx', 'h']
    j = 0
    
    print(career_category, '\n')
    
    for i in index:
        print(df.iloc[[j]])
        c = input("Input Career Category")
        j+=1
        
        try:
            assert c in career_category
        except AssertionError:
            print(f'AssertionError for: {i}', '\n')
            error_category.append(i)
            continue
        else:
            df.loc[[i], ['y_career_category']] = c
            print(f'{c} added', '\n')
    print(df, '\n')
    print(f'Error in the following categories: {error_category}')

In [197]:
# Calling function on a small df
label_subreddit(subreddit, index)

['science_technology', 'sports', 'games', 'politics', 'fitness', 'xxx', 'h']

                  count y_career_category
leagueoflegends  132818               xxx

Input Career Category xxx

xxx added

     count y_career_category
nba  89358               xxx

Input Career Category xxx

xxx added

     count y_career_category
nfl  83873               xxx

Input Career Category xxx

xxx added

      count y_career_category
news  76245               xxx

Input Career Category xxx

xxx added

       count y_career_category
DotA2  66729               xxx

Input Career Category xxx

xxx added

              count y_career_category
pcmasterrace  60955               xxx

Input Career Category xxx

xxx added

               count y_career_category
AdviceAnimals  57084               xxx

Input Career Category xxx

xxx added

        count y_career_category
hockey  56966               xxx

Input Career Category xxx

xxx added

        count y_career_category
movies  53997               xxx

Input Career Category xxx

xxx added

        count y_career_category
soccer  51247            sports

Input Career Category sports

sports added

                 count y_career_category
GlobalOffensive  44356             games

Input Career Category xxx

xxx added

               count y_career_category
SquaredCircle  43683               xxx

Input Career Category xxx

xxx added

                count y_career_category
DestinyTheGame  40957               xxx

Input Career Category xxx

xxx added

        count y_career_category
gaming  40804             games

Input Career Category games

games added

          count y_career_category
politics  31559          politics

Input Career Category politics

politics added

      count y_career_category
gifs  30433               xxx

Input Career Category xxx

xxx added

        count y_career_category
Boxing  28247               xxx

Input Career Category xxx

xxx added

               count y_career_category
relationships  27524               xxx

Input Career Category xxx

xxx added

       count y_career_category
anime  27193               xxx

Input Career Category xxx

xxx added

        count y_career_category
asoiaf  26310               xxx

Input Career Category xxx

xxx added

                   count y_career_category
explainlikeimfive  24957               xxx

Input Career Category xxx

xxx added

                count y_career_category
TumblrInAction  24262               xxx

Input Career Category xxx

xxx added

             count y_career_category
hearthstone  23884               xxx

Input Career Category xxx

xxx added

                      count y_career_category
electronic_cigarette  23538               xxx

Input Career Category xxx

xxx added

           count y_career_category
thebutton  22425               xxx

Input Career Category xxx

xxx added

                      count y_career_category
GlobalOffensiveTrade  22021               xxx

Input Career Category xxx

xxx added

               count y_career_category
gameofthrones  21891               xxx

Input Career Category xxx

xxx added

       count y_career_category
trees  21867               xxx

Input Career Category xxx

xxx added

          count y_career_category
newsokur  21617               xxx

Input Career Category xxx

xxx added

         count y_career_category
Fitness  20139               xxx

Input Career Category fitness

fitness added

        count y_career_category
amiibo  19016               xxx

Input Career Category xxx

xxx added

          count y_career_category
buildapc  18174               xxx

Input Career Category science_technology

science_technology added

      count y_career_category
tifu  18126               xxx

Input Career Category xxx

xxx added

                count y_career_category
KotakuInAction  17821               xxx

Input Career Category xxx

xxx added

            count y_career_category
technology  17699               xxx

Input Career Category science_technology

science_technology added

           count y_career_category
smashbros  17681               xxx

Input Career Category xxx

xxx added

          count y_career_category
gonewild  17308               xxx

Input Career Category xxx

xxx added

        count y_career_category
AskMen  17168               xxx

Input Career Category xxx

xxx added

           count y_career_category
2007scape  16836               xxx

Input Career Category xxx

xxx added

      count y_career_category
IAmA  16600               xxx

Input Career Category xxx

xxx added

           count y_career_category
Fireteams  15914               xxx

Input Career Category xxx

xxx added

                 count y_career_category
rupaulsdragrace  15822               xxx

Input Career Category xxx

xxx added

                   count y_career_category
mildlyinteresting  15778               xxx

Input Career Category xxx

xxx added

       count y_career_category
Smite  15538               xxx

Input Career Category xxx

xxx added

       count y_career_category
Games  15391               xxx

Input Career Category games

games added

          count y_career_category
baseball  15121               xxx

Input Career Category xxx

xxx added

                    count y_career_category
GrandTheftAutoV_PC  15117               xxx

Input Career Category xxx

xxx added

          count y_career_category
AskWomen  15065               xxx

Input Career Category xxx

xxx added

                    count y_career_category
KerbalSpaceProgram  15025               xxx

Input Career Category xxx

xxx added

       count y_career_category
Music  13939               xxx

Input Career Category xxx

xxx added

         count y_career_category
Android  13813               xxx

Input Career Category science_technology

science_technology added

                count y_career_category
SubredditDrama  13740               xxx

Input Career Category xxx

xxx added

                 count y_career_category
TwoXChromosomes  13706               xxx

Input Career Category xxx

xxx added

       count y_career_category
india  13578               xxx

Input Career Category xxx

xxx added

     count y_career_category
MMA  13574               xxx

Input Career Category xxx

xxx added

             count y_career_category
whowouldwin  13352               xxx

Input Career Category xxx

xxx added

             count y_career_category
hiphopheads  13187               xxx

Input Career Category xxx

xxx added

          count y_career_category
magicTCG  13053               xxx

Input Career Category xxx

xxx added

                 count y_career_category
personalfinance  12891               xxx

Input Career Category xxx

xxx added

       count y_career_category
ffxiv  12802               xxx

Input Career Category xxx

xxx added

               count y_career_category
marvelstudios  12796               xxx

Input Career Category xxx

xxx added

             count y_career_category
csgobetting  12783               xxx

Input Career Category xxx

xxx added

            count y_career_category
bloodborne  12778               xxx

Input Career Category xxx

xxx added

     count y_career_category
wow  12644               xxx

Input Career Category xxx

xxx added

     count y_career_category
CFB  12321               xxx

Input Career Category xxx

xxx added

                count y_career_category
EliteDangerous  12159               xxx

Input Career Category xxx

xxx added

         count y_career_category
Bitcoin  12091               xxx

Input Career Category xxx

xxx added

       count y_career_category
books  11987               xxx

Input Career Category xxx

xxx added

          count y_career_category
counting  11977               xxx

Input Career Category xxx

xxx added

                   count y_career_category
TrollXChromosomes  11780               xxx

Input Career Category xxx

xxx added

     count y_career_category
Eve  11759               xxx

Input Career Category xxx

xxx added

             count y_career_category
pathofexile  11514               xxx

Input Career Category xxx

xxx added

                       count y_career_category
Random_Acts_Of_Amazon  11480               xxx

Input Career Category xxx

xxx added

         count y_career_category
xboxone  11402               xxx

Input Career Category xxx

xxx added

              count y_career_category
Christianity  11389               xxx

Input Career Category xxx

xxx added

      count y_career_category
cars  11381               xxx

Input Career Category xxx

xxx added

         count y_career_category
OkCupid  11017               xxx

Input Career Category xxx

xxx added

            count y_career_category
Guildwars2  10902               xxx

Input Career Category xxx

xxx added

           count y_career_category
teenagers  10805               xxx

Input Career Category xxx

xxx added

               count y_career_category
MonsterHunter  10772               xxx

Input Career Category xxx

xxx added

     count y_career_category
PS4  10587               xxx

Input Career Category xxx

xxx added

               count y_career_category
unitedkingdom  10557               xxx

Input Career Category xxx

xxx added

               count y_career_category
pokemontrades  10486               xxx

Input Career Category xxx

xxx added

            count y_career_category
television  10462               xxx

Input Career Category xxx

xxx added

             count y_career_category
nottheonion  10410               xxx

Input Career Category xxx

xxx added

             count y_career_category
motorcycles  10384               xxx

Input Career Category xxx

xxx added

              count y_career_category
summonerswar  10356               xxx

Input Career Category xxx

xxx added

        count y_career_category
Marvel  10325               xxx

Input Career Category xxx

xxx added

            count y_career_category
ukpolitics  10215               xxx

Input Career Category politics

politics added

          count y_career_category
StarWars  10212               xxx

Input Career Category xxx

xxx added

                 count y_career_category
Pokemongiveaway  10211               xxx

Input Career Category xxx

xxx added

                  count y_career_category
heroesofthestorm  10126               xxx

Input Career Category xxx

xxx added

      count y_career_category
FIFA   9601               xxx

Input Career Category sports

sports added

           count y_career_category
runescape   9564               xxx

Input Career Category xxx

xxx added

     count y_career_category
tf2   9463               xxx

Input Career Category xxx

xxx added

        count y_career_category
europe   9423               xxx

Input Career Category xxx

xxx added

        count y_career_category
NASCAR   9358               xxx

Input Career Category xxx

xxx added

           count y_career_category
MLPLounge   9218               xxx

Input Career Category xxx

xxx added

           count y_career_category
childfree   9175               xxx

Input Career Category xxx

xxx added

             count y_career_category
LifeProTips   9153               xxx

Input Career Category xxx

xxx added

               count y_career_category
bravefrontier   9114               xxx

Input Career Category xxx

xxx added

         count y_career_category
podemos   9075               xxx

Input Career Category xxx

xxx added

            count y_career_category
DarkSouls2   9068               xxx

Input Career Category xxx

xxx added

                     count y_career_category
SandersForPresident   9038               xxx

Input Career Category politics

politics added

        count y_career_category
canada   8831               xxx

Input Career Category xxx

xxx added

             count y_career_category
legaladvice   8781               xxx

Input Career Category xxx

xxx added

                     count y_career_category
fivenightsatfreddys   8632               xxx

Input Career Category xxx

xxx added

     count y_career_category
sex   8489               xxx

Input Career Category xxx

xxx added

        count y_career_category
sports   8333               xxx

Input Career Category sports

sports added

           count y_career_category
australia   8328               xxx

Input Career Category xxx

xxx added

              count y_career_category
MortalKombat   8253               xxx

Input Career Category xxx

xxx added

                   count y_career_category
malefashionadvice   8253               xxx

Input Career Category xxx

xxx added

                    count y_career_category
BlackPeopleTwitter   8234               xxx

Input Career Category xxx

xxx added

       count y_career_category
Jokes   8126               xxx

Input Career Category xxx

xxx added

       count y_career_category
NoFap   8106               xxx

Input Career Category xxx

xxx added

            count y_career_category
Planetside   8050               xxx

Input Career Category xxx

xxx added

     count y_career_category
MLS   8035               xxx

Input Career Category xxx

xxx added

           count y_career_category
Cardinals   7970               xxx

Input Career Category xxx

xxx added

       count y_career_category
Drugs   7914               xxx

Input Career Category xxx

xxx added

      count y_career_category
h1z1   7873               xxx

Input Career Category xxx

xxx added

      count y_career_category
guns   7853               xxx

Input Career Category xxx

xxx added

           count y_career_category
starcraft   7836               xxx

Input Career Category xxx

xxx added

        count y_career_category
XMenRP   7798               xxx

Input Career Category xxx

xxx added

            count y_career_category
comicbooks   7785               xxx

Input Career Category xxx

xxx added

              count y_career_category
changemyview   7755               xxx

Input Career Category xxx

xxx added

            count y_career_category
Futurology   7750               xxx

Input Career Category xxx

xxx added

       count y_career_category
4chan   7720               xxx

Input Career Category xxx

xxx added

          count y_career_category
fatlogic   7644               xxx

Input Career Category xxx

xxx added

            count y_career_category
AppleWatch   7622               xxx

Input Career Category fitness

fitness added

          count y_career_category
exmormon   7579               xxx

Input Career Category xxx

xxx added

              count y_career_category
ClashOfClans   7564               xxx

Input Career Category xxx

xxx added

       count y_career_category
apple   7546               xxx

Input Career Category xxx

xxx added

           count y_career_category
reddevils   7341               xxx

Input Career Category xxx

xxx added

      count y_career_category
RWBY   7335               xxx

Input Career Category xxx

xxx added

         count y_career_category
pokemon   7333               xxx

Input Career Category xxx

xxx added

             count y_career_category
starcitizen   7331               xxx

Input Career Category xxx

xxx added

                count y_career_category
summonerschool   7330               xxx

Input Career Category xxx

xxx added

         count y_career_category
Gunners   7079               xxx

Input Career Category xxx

xxx added

     count y_career_category
nrl   7073               xxx

Input Career Category xxx

xxx added

                   count y_career_category
interestingasfuck   6965               xxx

Input Career Category xxx

xxx added

           count y_career_category
jailbreak   6936               xxx

Input Career Category xxx

xxx added

                 count y_career_category
dataisbeautiful   6895               xxx

Input Career Category xxx

xxx added

            count y_career_category
Warthunder   6894               xxx

Input Career Category xxx

xxx added

         count y_career_category
science   6822               xxx

Input Career Category science_technology

science_technology added

              count y_career_category
bodybuilding   6803               xxx

Input Career Category fitness

fitness added

            count y_career_category
SVExchange   6789               xxx

Input Career Category xxx

xxx added

         count y_career_category
toronto   6783               xxx

Input Career Category xxx

xxx added

                  count   y_career_category
leagueoflegends  132818                 xxx
nba               89358                 xxx
nfl               83873                 xxx
news              76245                 xxx
DotA2             66729                 xxx
...                 ...                 ...
Warthunder         6894                 xxx
science            6822  science_technology
bodybuilding       6803             fitness
SVExchange         6789                 xxx
toronto            6783                 xxx

[147 rows x 2 columns]

Error in the following categories: []

In [211]:
#looking at the number of rows in each category
print(subreddit.groupby(['y_career_category']).sum())

# checking the percentage composition
print(subreddit.groupby(['y_career_category']).sum() / subreddit.sum()[0]*100)

                    count
y_career_category
fitness             34564
games               56195
politics            50812
science_technology  56508
sports              69181
                        count
y_career_category
fitness             12.932725
games               21.026341
politics            19.012198
science_technology  21.143456
sports              25.885280

In [214]:
subreddit.drop(subreddit[subreddit['y_career_category'] == 'xxx'].index, axis=0, inplace=True)

#### Step 2 : Merging the datasets

The plan of action will be:

1. Create numeric y categories 
2. Merging the two dataframes to get the labeled y cateogories with text body

In [223]:
from sklearn.preprocessing import LabelEncoder

# Instantiating the encoder:
my_encoder = LabelEncoder()

# Fitting the encoder with the labels from 'y_career_category':
subreddit['coded_category'] = my_encoder.fit_transform(subreddit['y_career_category'])
subreddit

                     count   y_career_category  coded_category
soccer               51247              sports               4
gaming               40804               games               1
politics             31559            politics               2
Fitness              20139             fitness               0
buildapc             18174  science_technology               3
technology           17699  science_technology               3
Games                15391               games               1
Android              13813  science_technology               3
ukpolitics           10215            politics               2
FIFA                  9601              sports               4
SandersForPresident   9038            politics               2
sports                8333              sports               4
AppleWatch            7622             fitness               0
science               6822  science_technology               3
bodybuilding          6803             fitness               0

In [225]:
# Verifying the encoding:
for i, j in enumerate(my_encoder.classes_):
    print(f'{i}: {j}')

0: fitness
1: games
2: politics
3: science_technology
4: sports

In [226]:
# error_ category and career_category are global lists within the function
error_category

[]

In [227]:
# cleaning the subreddit df

subreddit.reset_index(inplace=True)
# subreddit.drop(['level_0'], axis=1, inplace=True)
subreddit.rename(columns={'index':'topic', 'y_career_category':'y_career_category', 'coded_category': 'coded_category'}, inplace=True)
subreddit.head(3)

      topic  count y_career_category  coded_category
0    soccer  51247            sports               4
1    gaming  40804             games               1
2  politics  31559          politics               2

In [228]:
# merging the two dfs to have the labels for each row and store it in results
result = pd.merge(reddit, subreddit, left_on='subreddit', right_on='topic')
result.sample(5)

,created_utc,ups,subreddit_id,link_id,name,subreddit,id,gilded,downs,author,retrieved_on,body,edited,controversiality,parent_id,topic,count,y_career_category,coded_category
75951,1430834816,1,t5_2qh03,t3_34xstk,t1_cqz2nzo,gaming,cqz2nzo,0,0,Bluminati,1432783251,Is this the remake of rayman? How does it comp...,0,0,t1_cqz1u1l,gaming,40804,games,1
25341,1430700503,10,t5_2cneq,t3_34q52b,t1_cqxgkow,politics,cqxgkow,0,0,repmack,1432754928,Clearly circle jerk. You are a teemo support.,0,0,t1_cqxbzam,politics,31559,politics,2
199923,1430715837,-1,t5_2qhwp,t3_34s5um,t1_cqxorlj,Games,cqxorlj,0,0,pfarly,1432758799,Well considering the PS3 does it I'd say yes.,0,0,t1_cqxomws,Games,15391,games,1
35286,1430835052,-4,t5_2cneq,t3_34wb7p,t1_cqz2sg0,politics,cqz2sg0,0,0,KeenanKolarik,1432783310,"Even though he's wrong and idiotic, it's freed...",0,0,t1_cqyqehl,politics,31559,politics,2
40370,1430483235,2,t5_2qh03,t3_34gemi,t1_cquxcoa,gaming,cquxcoa,0,0,Halo_likes_me,1432711277,Hes talking competitively and he is right. Any...,0,0,t1_cquskqg,gaming,40804,games,1

In [474]:
result.shape

(267260, 19)

In [ ]:
body = list(result['body'])
body = nltk.Text(body)
FreqDist(body).most_common(20)

In [523]:
# removing all comments that have 'automatically removed'
result.drop(result[result['body'].str.contains('automatically removed')].index, axis=0, inplace=True)

In [527]:
result.drop(result[result['body'].str.contains('submission has been removed')].index, axis=0, inplace=True)

In [531]:
result.drop(result[result['body'].str.contains('has been removed')].index, axis=0, inplace=True)
result.shape

(265399, 19)

In [534]:
result.drop(result[result['body'].str.contains('Please follow the subreddit rules')].index, axis=0, inplace=True)
result.shape

(265324, 19)

In [537]:
result.drop(result[result['body'].str.contains('Inexperienced accounts are assumed to be spam')].index, axis=0, inplace=True)
result.shape

(265306, 19)

Using the .most_common method, I identified the most used words and found several auto generated comments regarding post removal with the follwoing words and therefore I removed them

#### Step 3: Storing the dataframe as a new table in SQL and csv

Plan of action:

1. Saving the resultant big dataframe in SQL and csv form.

In [229]:
# storing the db to SQLite table :)
result.to_sql('subreddit', con=sql_conn, if_exists='replace')

# saving the db as a csv file
result.to_csv('subreddit.csv')

In [4]:
# if need be we can import the data and use it ahead by remoing '#' and running the cell
result = pd.read_csv('subreddit.csv')

In [5]:
result.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'created_utc', 'ups', 'subreddit_id',
       'link_id', 'name', 'subreddit', 'id', 'gilded', 'downs', 'author',
       'retrieved_on', 'body', 'edited', 'controversiality', 'parent_id',
       'topic', 'count', 'y_career_category', 'coded_category'],
      dtype='object')

In [6]:
# creating a working directory with only required columns
text_df = result[['subreddit', 'body', 'topic', 'count', 'y_career_category', 'coded_category']]
text_df.sample(5)

,subreddit,body,topic,count,y_career_category,coded_category
172977,soccer,"False: we eventually said ""Let's go around the...",soccer,51247,sports,4
247941,buildapc,Actually he'd be fine and wouldn't notice a di...,buildapc,18174,science_technology,3
211179,sports,Pow right in the kisser.,sports,8333,sports,4
49729,gaming,That thing I just said to Mark was Really Funn...,gaming,40804,games,1
247506,buildapc,Damn im retarded. Obviously each video card ta...,buildapc,18174,science_technology,3

In [7]:
# final check for any deleted 'body'
# text_df.drop(tex_df[X.y_career_category =='xxx'].index, axis=0, inplace=True)
(text_df['body'] == '[deleted]').sum()

0

In [8]:
# Looking for nulls in the dataframe
text_df[text_df.isna().any(axis=1)]

       subreddit body    topic  count y_career_category  coded_category
42907     gaming  NaN   gaming  40804             games               1
128337   Fitness  NaN  Fitness  20139           fitness               0
128338   Fitness  NaN  Fitness  20139           fitness               0
128339   Fitness  NaN  Fitness  20139           fitness               0
128340   Fitness  NaN  Fitness  20139           fitness               0
128341   Fitness  NaN  Fitness  20139           fitness               0
128342   Fitness  NaN  Fitness  20139           fitness               0
128343   Fitness  NaN  Fitness  20139           fitness               0
128344   Fitness  NaN  Fitness  20139           fitness               0
128345   Fitness  NaN  Fitness  20139           fitness               0
128346   Fitness  NaN  Fitness  20139           fitness               0
128348   Fitness  NaN  Fitness  20139           fitness               0
128349   Fitness  NaN  Fitness  20139           fitness               0
128350   Fitness  NaN  Fitness  20139           fitness               0
128351   Fitness  NaN  Fitness  20139           fitness               0
128352   Fitness  NaN  Fitness  20139           fitness               0

In [9]:
# dropping nulls and resettng index so the index is consistent
text_df.dropna(inplace=True)
text_df.reset_index(inplace=True, drop=True)

<ipython-input-9-2371d2bbf123>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_df.dropna(inplace=True)

In [13]:
# checking if all nulls got deleted or not
text_df.isnull().sum()
# text_df[text_df.isna().any(axis=1)]

subreddit            0
body                 0
topic                0
count                0
y_career_category    0
coded_category       0
dtype: int64

In [11]:
text_df.shape

(265290, 6)

In [19]:
text_df['body']

0                      More Olympics means heavier babies\n
1                        china does seem to like their smog
2         http://health-equity.pitt.edu/2407/\n\nhttp://...
3         [Full-text](http://www.sciencemag.org.sci-hub....
4         I wish you understood the science of climate c...
                                ...
265285    Windows 8 uses less RAM than Windows 7 I stron...
265286    If you suspect you are limited by your CPU, yo...
265287    it is a fully modular power supply for the pri...
265288    depends on whether or not your board is dual o...
265289    My case is sitting on the floor in a apartment...
Name: body, Length: 265290, dtype: object

In [20]:
# saving the db as a csv file
text_df.to_csv('text_df.csv')

Data has been labelled and its size has been reduced. The nulls, duplicates, flagged comments, deleted comments have been removed. 

Cleaning for NLP will be performed in next notebook. This will include lowercase, removing punctuations, replacing websites, and anyother relavent cleaning.